<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <img src="logoUACM.jpg" style="max-width:100%;width:auto;height:auto;border:0">
      <hr><h1>Temas de foro</h1><hr>
      <p class="lead"></p>
    </div>

    <div class="row">
      <div class="col-md-8 order-md-1">
        <div class="my-3 p-3 bg-white rounded box-shadow">
          <h6 class="border-bottom border-gray pb-2 mb-0">TEMAS EXPUESTOS</h6>
          <div class="media text-muted pt-3">
            <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <!---------------------------TEMA---------------------------------------->
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Nombre tema</strong>
                <div>
                  <button type="button" class="btn btn-outline-primary">Ver conclusion</button>
                  <button type="button" class="btn btn-outline-info" style="margin: 10px">EDITAR</button>
                  <button type="button" class="btn btn-outline-danger">ELIMINAR</button>
                </div>
              </div>
              <span class="d-block">Pablaras cable</span>
              <br>
              <!----------------------------------------------------------------------->
              <!---------------------------TEMA---------------------------------------->
              <div class="d-flex justify-content-between align-items-center w-100">
                <strong class="text-gray-dark">Nombre tema</strong>
                <div>
                  <button type="button" class="btn btn-outline-primary">Ver conclusion</button>
                  <button type="button" class="btn btn-outline-info" style="margin: 10px">EDITAR</button>
                  <button type="button" class="btn btn-outline-danger">ELIMINAR</button>
                </div>
              </div>
              <span class="d-block">Pablaras cable</span>
              <!----------------------------------------------------------------------->
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2018 universidad Autónoma de la Ciudad de Mexico </p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.uacm.edu.mx/">UACM</a></li>
      </ul>
    </footer>
  </div>

</body>