<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase navbar-dark bg-dark" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">FORO ACADEMICO</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

        <!--Botones que crean y mantienen en la vista de temas ------------------------------>
        <li class="nav-item">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Principal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about" data-toggle="modal" data-target="#exampleModal" >Crear tema </a>
        </li>
        <!----------------------------------------------------------------------------------->
        <!-----------Buscador---------------------------------------------------------------->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Buscar tema" aria-label="Nombre_tema">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
        <!----------------------------------------------------------------------------------->
      </ul>
    </div>
  </div>
</nav>
