<div style="padding-top: 20px;">
    <div class="container"  >
      <nav class="navbar navbar-light" style="background-color: #7E3533; border-radius: 10px;">
        <h3 style="color:#ffffff"><i class="fas fa-sitemap" style="font-size: 30px; padding-right: 20px;"></i>Nombre tema <small >TEMA</small></h3>
      </nav>
    </div>
  </div>
  
  <body style="padding-top: 30px;">
    <!-- Page Content -->
    <div class="container">
  
  
      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-8">
          <!-- Card -->
          <div class="card">
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">Descripción de tema</h4>
              <!-- Text -->
              <p class="card-text">Se explica una breve descripción del tema.</p>

              <!--Boton de opciones-->
              <div style="margin-left: 530px; ">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown" >
                  <div  class="btn-group" role="group">
                    <button  id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>
                    <div style="background-color: rgba(121, 49, 47, 0.425); "class="dropdown-menu" aria-labelledby="btnGroupDrop1" >
                      <a class="dropdown-item" href="#">Editar</a>
                      <a class="dropdown-item" href="#">Borrar</a>
                      <a class="dropdown-item" href="#">Generar Conclusión</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->
        </div>
  
        <div class="col-md-4">
          
          <h3 class="my-3"><i class="far fa-calendar-alt" style="font-size: 30px; padding-right: 20px;"></i>Fecha de creación<span class="badge badge-pill badge-light">22/01/2018</span></h3>
          <h3 class="my-3"><i class="fas fa-user"style="font-size: 30px; padding-right: 20px;"></i>Autor</h3>
          <h2 ><a  style="color: #ffffff" class="badge badge-success">Nombre Autor</a></h2>
          <h3 class="my-3"><i class="fas fa-tag" style="font-size: 30px; padding-right: 20px;"></i>Palabras clave</h3>
          <ul class="list-group">
              <li class="list-group-item"><i class="fas fa-tags" style="font-size: 15px"></i> Palabra 1</li>
              <li class="list-group-item"><i class="fas fa-tags" style="font-size: 15px"></i> Palabra 2</li>
              <li class="list-group-item"><i class="fas fa-tags" style="font-size: 15px"></i> Palabra 3</li>
              <li class="list-group-item"><i class="fas fa-tags" style="font-size: 15px"></i> Palabra 4</li>
            </ul>
        </div>
  
      </div>
      <div style="padding-top: 30px;">
        <h3 class="my-4"><i class="fas fa-comment-dots" style="font-size: 30px; padding-right: 20px;"></i>Agrega comentario</h3>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <button type="button" class="btn btn-primary" style="margin-left: 975px; ">Publicar</button>
      </div>
      
  
      <!-- Related Projects Row -->
      <h3 class="my-4"><i class="fas fa-comment-alt" style="font-size: 30px; padding-right: 20px;"></i>Comentarios</h3>
  
    <div style="margin-bottom: 20px;">
      <div class="row" >
          <div class="container">
              <div class="row">
                  <div class="col-sm-8">
                      <div class="panel panel-white post panel-shadow">
                          <div class="post-heading">
                              <div class="pull-left image">
                                  <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                              </div>
                              <div class="pull-left meta">
                                  <div class="title h5">
                                      <a href="#"><b>Autor </b></a>
                                  </div>
                                  <h6 class="text-muted time">1 minute ago</h6>
                              </div>
                          </div> 
                          <div class="post-description"> 
                              <p>Comentario</p>
                              <div class="stats">
                                  <a href="#" class="btn btn-default stat-item">
                                      <i class="fa fa-thumbs-up icon"></i>2
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
  
    <footer  style="background-color: rgb(121, 50, 47); padding: 50px; text-align: center;">
      <!-- Copyright -->
      <div  style="color: black; font-size: 17px;"><strong>© 2018 Copyright:</strong>
        <a href="https://www.uacm.edu.mx/" style="color: black">Universidad Autónoma de la Ciudad de México</a>
      </div>
      <!-- Copyright -->
    </footer>
  </body>
  